

.flexContainerMain {
    display: grid;
    justify-content: flex-start;    
    display: flex;    
    align-items: center;
    gap: 10px;
    font-size: smaller;
    font-weight: 14px;
    width: 250px;
    text-decoration: none;

}

.flexContainerMain img {
    height: 40px;
    object-fit: contain;
    padding: 10px 0px 0px 10px;
    margin-left: 15px;
}

.flexboxright {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.miniFlexBox {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}
.item-symbol{
    font-weight: bold;
    color: white;    
}
.item-symbol:hover{
    color:  rgb(6, 6, 227)
}
a{
    inline-size:fit-content;
}