/* HEADING  */
.heroTable-heading {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  inline-size: fit-content;

}

#cryptoMarket-Link {
  display: inline-block;
  width: fit-content;
}


/* TABLE MAIN CONTAINER  */
.HeroTable-MainContainer {
  text-align: center;
  height: 100%;
  width: 100%;
}



/* COLUMN - 2 */


/* IMAGE  */
.Col2-img-name-symbol img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  padding-right: 10px;
}

/* COIN NAME & SYMBOL (Flex box)  */
.column2-name-symbol {
  display: flex;
  gap: 10px;
}

/* COIN NAME  */
.column2-coinName {
  font-weight: bold;
}

/* COLUMN 4 PRICE CHANGE 24H */

/* PRICE CHANGE & ARROW SYMBOLL (flex - box */
.column4-priceChange24h {
  display: flex;
  align-items: center;
}

.column4-priceChange24h svg {
  padding-top: 2px;
}

/* ROW  */
.rows {
  height: 100px;
}

/* MINICHART */
.MiniChart{
  height:75px ;
  width:150px ;
}