.fontHeading {
  font-family: 'Pacifico';
  font-size: 24px; 
}

.headercontainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #F47340;
  background-color: antiquewhite;
}

.logo {
  margin-left: 10%;
  justify-content: center;
  display: flex;
  color: white;
  font-weight: bold;
  width: 65px;
  height: 100px;
  z-index: 1;
}

.logo img {
  width: 100px;
  height: 110px;
  object-fit: cover;
  overflow: hidden;
}

.portfolio {  
  display: flex;
  padding-right: 10%; /* Check if this padding is necessary */
}

.portfolio a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}
